
* {
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}
@mixin bp435 {
    @media (max-width: 435px) {
        @content
    }
};
@mixin bp375 {
    @media (max-width: 375px) {
        @content
    }
};
body {
    font-family: 'Poppins', sans-serif;
    color:#f7f7f7;
}
.wrapper {
    width:100%;
    background-size: cover;
    background-image: url("../img/background-pagePay2.jpg");
    background-position: center;
    height:100vh;
    &-black {
        width:100%;
        background-color:rgba($color: #000000, $alpha: .7);
        height:100vh;
    }
}
.main {
    width:100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    &__contentBlock {
        // border:1px solid rgb(233,198,192);
        display:flex;
        flex-direction: column;
        border-radius:8px;
        width:100%;
        padding:0px 30px;
        max-width:768px;
        min-height:200px;
        &.active {
            display:none;
        }
        &-top {
            width:100%;
            display:flex;
            flex-direction:column;
            align-items: center;
            margin-bottom:35px;
            // gap:10px;
            // border:2px solid black;
            h1 {
                font-family: 'Work Sans', sans-serif;
                font-size:64px;
                font-weight:200;
                line-height: 72px;
                text-align: center;
                margin-bottom: 0px;
            }
            h6 {
                font-family: 'Work Sans', sans-serif;
                font-size:32px;
                font-weight:200;
                text-align: center;
                margin-bottom: 30px;
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-size:24px;
                font-weight:500;
                text-align: center;
                margin-bottom: 30px;
            }
            a {
                text-decoration:none;
                font-family: 'Poppins', sans-serif;
                font-size:42px;
                font-weight:730;
                width:210px;
                // height:50px;
                border-radius:8px;
                border:0px;
                background-color:	rgb(233,198,192);
                text-align:center;
                color:rgb(8, 0, 0);
                margin-bottom: 10px;
            }
            span {
                font-family: 'Work Sans', sans-serif;
                font-size:34px;
                font-weight:200;
                text-align: center;
                margin-bottom: 30px;
            }
            @include bp435 {
                h1 {
                    font-size:48px;
                    line-height: 62px;
                }
                p {
                    font-size:20px;
                }
                a {
                    font-size:19px;
                    width:160px;
                    height:35px;
                }
            }
            @include bp375 {
                h1 {
                    font-size:42px;
                    line-height: 62px;
                }
            }
        }
        &-bottom {
            width:100%;
            display:flex;
            flex-direction:column;
            align-items: center;
            // border:1px solid black;
            &-item {
                position:relative;
                width:100%;
                padding-left:60px;
                margin-bottom:20px;
                max-width:375px;
                // border:1px solid black;
                margin-left: 100px;
                text-align: center;
                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-size:24px;
                    font-weight:500;
                }
                img {
                    position:absolute;
                    left:10px;
                    top:0;
                    width:35px;

                }
                @include bp435 {
                    padding-left:50px;
                    h3 {
                        font-size:20px;
                    }
                    img {
                        width:30px;
                    }
                }
            }
            
        }
        @include bp375 {
            padding:0px 15px;
        }
    }
    &__paykeeper-form {
        display:none;
        width:100%;
        max-width:500px;
        position:absolute;
        z-index:1000;
        // display:flex;
        flex-direction:column;
        border:2px solid pink;
        border-radius:8px;
        padding: 30px;
        font-family: 'Poppins', sans-serif;
        font-size:24px;
        font-weight:500;
        &.active {
            display:flex;
        }
        &-close {
            display:flex;
            justify-content:end;
        }
        input[type='text'] {
            border-radius:8px;
            height:40px;
            background-color:rgb(233,198,192);
        }
        input[type='submit'] {
            height:40px;
            background-color:rgb(233,198,192);
            border-radius:8px;
            font-family: 'Poppins', sans-serif;
            font-size:20px;
            font-weight:500;
        }
    }
}